body {
  background-color: lightgrey;
  font-family: "Montserrat", sans-serif;
  height: 8300px; }

.first-container {
  display: flex;
  flex-direction: column; }

#lg-logo {
  width: 170px;
  margin-top: 3%;
  margin-bottom: 8%; }

#main-slogan {
  color: #323232;
  margin-left: 5%;
  font-size: 32px;
  width: 350px; }

#girl-stretching {
  margin-top: 10%; }

#compete-in-this-growing {
  margin-left: 2%;
  margin-top: 50px;
  width: 330px; }

#through_a_digital_signage {
  margin-left: 2%;
  margin-top: 5px;
  margin-bottom: 50px;
  width: 330px; }

.second-container {
  background-color: grey;
  padding: 7px;
  margin: 10px;
  width: 95%;
  border-radius: 2%; }

.second-container-wrapper {
  background-color: lightgrey;
  border-radius: 2%; }

#recent-survey {
  padding-top: 15px;
  font-size: 20px;
  width: 320px;
  color: #C3003C; }

#billion27 {
  margin-top: 30px;
  width: 150px;
  margin-left: 25%; }

#consits-of-over {
  text-align: center;
  padding-top: 25px;
  font-size: 20px;
  width: 320px;
  color: #C3003C; }

#thousand36 {
  margin-top: 30px;
  width: 150px;
  margin-left: 25%; }

#however {
  text-align: center;
  padding-top: 25px;
  font-size: 20px;
  width: 320px;
  color: #C3003C; }

#million57 {
  margin-top: 30px;
  width: 150px;
  margin-left: 25%;
  margin-bottom: 10%; }

.third-container {
  background-color: grey;
  padding: 7px;
  margin: 100px 10px 10px 10px;
  width: 95%;
  border-radius: 1%; }

.third-container-wrapper {
  background-color: lightgrey;
  border-radius: 1%; }

#commercial-displays {
  margin-bottom: 20px;
  padding-top: 25px;
  font-size: 20px;
  width: 320px;
  color: #C3003C; }

.commercial-displays-text {
  font-size: 18px;
  line-height: 1.5; }

#SystemOnChip_rotated {
  margin-top: 30px;
  width: 150px;
  margin-left: 25%; }

#beginning-system-on-chip {
  margin-top: 30px;
  width: 330px; }

#System_On_Chip_continued {
  margin-top: 5px;
  width: 330px; }

#webOS {
  margin-top: 50px;
  margin-bottom: 30px; }

#webOS8 {
  margin-bottom: 5px; }

#webOS9 {
  margin-bottom: 20px; }

.fourth-container {
  margin-top: 100px; }

#exercising-digital-signage {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 22px;
  width: 370px;
  color: #C3003C; }

#UHD_Commericial_TVs {
  margin-top: 20px;
  width: 350px; }

.fourth-container p {
  font-size: 18px;
  margin-top: 15px;
  margin-left: 30px;
  width: 300px; }

.fifth-container {
  margin-top: 100px; }

#man_lifting {
  margin-left: 3px; }

#small-digital-signs {
  margin-top: 20px;
  width: 370px;
  margin-left: -5px; }

.small-digital-signs-text {
  margin-top: 10px;
  width: 330px;
  margin-left: 40px;
  font-size: 18px; }

#direct-view {
  width: 370px;
  margin-left: -5px; }

.direct-view-text {
  margin-top: 10px;
  width: 300px;
  margin-left: 40px;
  font-size: 18px; }

.sixth-container {
  margin-top: 100px; }

#transparent_LED {
  margin-top: 30px; }

.transparent_LED-text {
  margin-top: 10px;
  width: 300px;
  margin-left: 40px; }

.seventh-container {
  margin-top: 60px; }

#game-changing-lg {
  font-size: 32px;
  margin-left: 2%;
  width: 360px;
  color: #C3003C; }

.game-changing-lg-text {
  font-size: 18px;
  width: 330px;
  margin-top: 20px;
  margin-left: 5%; }

#two-percent {
  margin-left: 15%;
  color: #C3003C; }

#ten-percent {
  margin-left: 12%;
  color: #C3003C; }

.seventh-container {
  background-color: grey;
  padding: 7px;
  margin: 100px 10px 10px 10px;
  width: 95%;
  border-radius: 1%; }

.seventh-container-wrapper {
  background-color: lightgrey;
  border-radius: 1%;
  margin-bottom: 0; }

#game-changing-lg {
  padding-top: 20px; }

.game-changing-lg-text {
  width: 300px; }

#last-p {
  margin-bottom: 0; }

.missing-container {
  background-color: grey;
  padding: 7px;
  margin: 100px 10px 10px 10px;
  width: 95%;
  border-radius: 1%; }

.missing-container-wrapper {
  background-color: lightgrey;
  border-radius: 1%;
  margin-bottom: 0; }

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
  #lg-logo {
    width: 200px; }

  #compete-in-this-growing {
    width: 400px;
    margin-left: 9%; }

  #through_a_digital_signage {
    width: 400px;
    margin-left: 9%; }

  #recent-survey {
    width: 500px;
    text-align: center; }

  .second-container {
    margin: 0 auto; }

  #billion27 {
    margin-left: 35%; }

  #consits-of-over {
    margin: 0 auto; }

  #thousand36 {
    margin-left: 35%; }

  #however {
    margin: 0 auto; }

  #million57 {
    margin-left: 35%; }

  .missing-container {
    margin: 100px auto; }

  #deliver_immersive {
    width: 400px;
    margin-left: 10%; }

  #transforming_typical {
    width: 400px;
    margin-left: 10%; }

  #exciting_dynamic_fitness {
    width: 400px;
    margin-left: 10%; }

  .third-container {
    margin: 0 auto; }

  #commercial-displays {
    font-size: 24px;
    width: 450px; }

  #SystemOnChip_rotated {
    width: 200px;
    margin-left: 25%; }

  #beginning-system-on-chip {
    width: 400px;
    margin-left: 10%; }

  #System_On_Chip_continued {
    width: 400px;
    margin-left: 10%; }

  #webOS {
    width: 400px;
    margin-left: 10%; }

  #webOS8 {
    width: 400px;
    margin-left: 10%; }

  #webOS9 {
    width: 400px;
    margin-left: 10%; }

  #exercising-digital-signage {
    margin-left: 10%;
    width: 400px; }

  #UHD_Commericial_TVs {
    width: 400px;
    margin-left: 10%; }

  #UHD_Commericial_TVs-text {
    margin-left: 15%;
    width: 350px; }

  #Large_Format_Digital {
    width: 400px;
    margin-left: 10%; }

  #Large_Format_Digital-text {
    margin-left: 15%;
    width: 350px; }

  #SuperSign-tvs {
    width: 400px;
    margin-left: 10%; }

  #SuperSign-tvs-text {
    margin-left: 15%;
    width: 350px; }

  #Videowalls {
    width: 400px;
    margin-left: 10%; }

  #Videowalls-text {
    margin-left: 15%;
    width: 350px; }

  #small-digital-signs {
    width: 400px;
    margin-left: 10%; }

  .small-digital-signs-text {
    margin-left: 15%;
    width: 350px; }

  #direct-view {
    width: 400px;
    margin-left: 10%; }

  .direct-view-text {
    margin-left: 15%;
    width: 350px; }

  #transparent_LED {
    width: 400px;
    margin-left: 10%; }

  .transparent_LED-text {
    margin-left: 15%;
    width: 350px; }

  #cardio-equipement {
    width: 400px;
    margin-left: 10%; }

  #ultra_stretch {
    width: 400px;
    margin-left: 10%; }

  .seventh-container {
    margin-left: 10%; }

  #game-changing-lg {
    width: 500px; }

  #two-percent {
    margin-left: 25%; }

  #ten-percent {
    margin-left: 25%; }

  .game-changing-lg-text {
    width: 450px; }

  #last-p {
    padding-bottom: 20px; } }
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  #lg-logo {
    width: 300px; }

  #compete-in-this-growing {
    position: relative;
    top: -380px;
    left: 300px;
    width: 300px; }

  #through_a_digital_signage {
    position: relative;
    top: -400px;
    left: 150px;
    width: 300px; }

  .second-container {
    position: relative;
    top: -80px;
    margin: 0 auto; }

  #recent-survey {
    width: 650px; }

  #billion27 {
    margin-left: 40%; }

  #billion27 {
    margin-left: 40%; }

  #thousand36 {
    margin-left: 40%; }

  #million57 {
    margin-left: 40%; }

  .missing-container {
    margin: 0 auto; }

  #deliver_immersive {
    position: relative;
    left: 200px; }

  #transforming_typical {
    position: relative;
    top: -30px; }

  #exciting_dynamic_fitness {
    position: relative;
    top: -50px;
    left: 200px; }

  .third-container {
    position: relative;
    top: 80px;
    margin: 0 auto; }

  .third-container-wrapper {
    height: 800px; }

  #commercial-displays {
    font-size: 24px;
    width: 700px; }

  #SystemOnChip_rotated {
    position: relative;
    right: 150px;
    width: 150px; }

  #beginning-system-on-chip {
    width: 350px;
    position: relative;
    top: -160px;
    left: 260px; }

  #System_On_Chip_continued {
    width: 350px;
    position: relative;
    top: -175px;
    left: 150px; }

  #webOS {
    width: 250px;
    position: relative;
    top: -140px; }

  #webOS8 {
    width: 350px;
    position: relative;
    top: -250px;
    left: 260px; }

  #webOS9 {
    width: 350px;
    position: relative;
    top: -270px;
    left: 150px;
    margin-bottom: 20px; }

  .fourth-container {
    margin-top: 200px; }

  #man_running {
    margin-left: -7%;
    width: 65%; }

  #exercising-digital-signage {
    position: relative;
    top: -800px;
    left: 220px;
    width: 300px; }

  #UHD_Commericial_TVs {
    position: relative;
    top: -800px;
    left: 220px;
    width: 300px; }

  #UHD_Commericial_TVs-text {
    font-size: 15px;
    position: relative;
    top: -800px;
    left: 310px;
    width: 300px; }

  #Large_Format_Digital {
    position: relative;
    top: -800px;
    left: 350px;
    width: 300px; }

  #Large_Format_Digital-text {
    font-size: 15px;
    position: relative;
    top: -800px;
    left: 210px;
    width: 400px; }

  #SuperSign-tvs {
    position: relative;
    top: -780px;
    left: -50px;
    width: 300px; }

  #SuperSign-tvs-text {
    font-size: 15px;
    position: relative;
    top: -870px;
    left: 220px;
    width: 400px; }

  #Videowalls {
    position: relative;
    top: -850px;
    left: -50px;
    width: 300px; }

  #Videowalls-text {
    font-size: 15px;
    position: relative;
    top: -940px;
    left: 220px;
    width: 400px; }

  .fifth-container {
    margin-top: -730px; }

  #man_lifting {
    width: 65%;
    margin-left: 41%; }

  #small-digital-signs {
    position: relative;
    top: -530px;
    width: 350px; }

  .small-digital-signs-text {
    position: relative;
    top: -530px;
    width: 450px;
    right: 100px; }

  #direct-view {
    position: relative;
    top: -500px;
    right: 100px;
    width: 350px; }

  .direct-view-text {
    position: relative;
    top: -500px;
    right: 120px;
    width: 450px; }

  .sixth-container {
    position: relative;
    top: -350px; }

  #girl_jumping {
    width: 70%;
    margin-left: 37%; }

  #transparent_LED {
    position: relative;
    top: -950px;
    right: 100px;
    width: 350px; }

  .transparent_LED-text {
    position: relative;
    top: -950px;
    right: 100px;
    width: 430px; }

  #cardio-equipement {
    position: relative;
    top: -880px;
    left: 30px;
    width: 350px; }

  #touch-screen {
    position: relative;
    top: -880px;
    right: 130px;
    width: 380px; }

  #ultra_stretch {
    position: relative;
    top: -800px;
    width: 350px; }

  #ultra_stretch-text {
    position: relative;
    top: -800px;
    right: 130px;
    width: 310px; }

  .seventh-container {
    position: relative;
    top: -1000px;
    margin: 0 auto; }

  #game-changing-lg {
    width: 650px;
    margin-left: 7%; }

  .game-changing-lg-text {
    width: 550px;
    margin-left: 7%; }

  #two-percent {
    margin-left: 35%; }

  #ten-percent {
    margin-left: 35%; }

  body {
    height: 7210px; } }
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #main-slogan {
    font-size: 28px; }

  #girl-stretching {
    position: relative;
    top: -250px;
    left: 300px;
    width: 68%; }

  #compete-in-this-growing {
    position: relative;
    top: -600px;
    left: 550px; }

  #through_a_digital_signage {
    position: relative;
    top: -485px;
    left: 50px; }

  .second-container {
    margin: 0 auto;
    position: relative;
    top: -130px; }

  #recent-survey {
    font-size: 28px;
    width: 870px; }

  #however {
    position: relative;
    right: 20px; }

  .missing-container-text {
    font-size: 22px; }

  #deliver_immersive {
    margin-left: 25%; }

  #transforming_typical {
    margin-left: 25%; }

  #exciting_dynamic_fitness {
    margin-left: 25%; }

  #commercial-displays {
    font-size: 28px;
    width: 800px;
    margin-left: 5%; }

  .commercial-displays-text {
    margin-left: 5%;
    width: 800px;
    font-size: 22px; }

  #beginning-system-on-chip {
    position: relative;
    top: -30px;
    left: 70px; }

  #System_On_Chip_continued {
    position: relative;
    top: -90px;
    left: 300px; }

  #webOS {
    position: relative;
    top: 70px;
    right: 330px; }

  #webOS8 {
    position: relative;
    top: -50px;
    left: 400px; }

  #webOS9 {
    position: relative;
    top: 50px;
    left: -170px; }

  #man_running {
    position: relative;
    left: 40px; }

  #exercising-digital-signage {
    position: relative;
    top: -1030px;
    left: 330px; }

  #UHD_Commericial_TVs {
    position: relative;
    top: -1030px;
    left: 320px;
    width: 400px; }

  #UHD_Commericial_TVs-text {
    position: relative;
    top: -1030px;
    left: 450px;
    width: 350px;
    font-size: 18px;
    line-height: 1.5; }

  #Large_Format_Digital {
    position: relative;
    top: -1020px;
    left: 450px;
    width: 400px; }

  #Large_Format_Digital-text {
    position: relative;
    top: -1020px;
    left: 320px;
    width: 500px;
    font-size: 18px;
    line-height: 1.5; }

  #SuperSign-tvs {
    position: relative;
    top: -1000px;
    left: -40px;
    width: 400px; }

  #SuperSign-tvs-text {
    position: relative;
    top: -1120px;
    left: 320px;
    width: 500px;
    font-size: 18px;
    line-height: 1.5; }

  #Videowalls {
    position: relative;
    top: -1080px;
    left: -40px;
    width: 400px; }

  #Videowalls-text {
    position: relative;
    top: -1190px;
    left: 320px;
    width: 500px;
    font-size: 18px;
    line-height: 1.5; }

  .fifth-container {
    position: relative;
    top: -200px;
    right: 50px; }

  #small-digital-signs {
    position: relative;
    top: -700px;
    left: 150px; }

  .small-digital-signs-text {
    position: relative;
    top: -700px;
    width: 450px;
    left: -50px; }

  #direct-view {
    position: relative;
    top: -650px;
    left: 150px; }

  .direct-view-text {
    position: relative;
    top: -650px;
    width: 450px;
    left: -50px; }

  .sixth-container {
    position: relative;
    top: -570px; }

  #girl_jumping {
    position: relative;
    right: 35px; }

  #transparent_LED {
    position: relative;
    top: -1250px;
    left: -80px; }

  .transparent_LED-text {
    position: relative;
    top: -1250px;
    left: -40px;
    font-size: 18px; }

  #cardio-equipement {
    position: relative;
    top: -1150px;
    left: 160px; }

  #touch-screen {
    position: relative;
    top: -1150px;
    left: -120px;
    font-size: 18px;
    width: 450px; }

  #ultra_stretch {
    position: relative;
    top: -1000px;
    left: 130px; }

  #ultra_stretch-text {
    position: relative;
    top: -1000px;
    left: -150px;
    width: 400px; }

  .seventh-container {
    margin-top: -130px;
    bottom: 30px;
    width: 85%; }

  #game-changing-lg {
    margin-left: 2%;
    width: 800px; }

  .game-changing-lg-text {
    margin-left: 2%;
    font-size: 20px;
    width: 800px; }

  body {
    height: 8000px; } }
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    flex-direction: row; }

  #lg-logo {
    width: 400px;
    position: relative;
    right: 20%;
    margin-top: 10%;
    margin-left: 15%; }

  #main-slogan {
    font-size: 32px;
    margin-top: 10%; }

  #girl-stretching {
    width: 100%;
    position: relative;
    top: -30px;
    left: -30px; }

  #compete-in-this-growing {
    position: relative;
    top: -450px;
    left: 320px;
    width: 350px; }

  #through_a_digital_signage {
    width: 350px;
    position: relative;
    top: -470px;
    left: 150px; }

  .second-container {
    margin: 30px auto 0; }

  #recent-survey {
    font-size: 32px;
    width: 1000px;
    margin-left: 5%; }

  #billion27 {
    width: 300px;
    margin-top: 5%;
    margin-left: 35%; }

  #consits-of-over {
    font-size: 32px;
    margin-top: 30px;
    margin-left: 35%; }

  #thousand36 {
    width: 300px;
    margin-top: 5%;
    margin-left: 35%; }

  #however {
    font-size: 32px;
    margin-top: 30px;
    margin-left: 35%; }

  #million57 {
    width: 300px;
    margin-top: 5%;
    margin-left: 35%; }

  #missing-container {
    height: 780px;
    margin-top: -100px;
    margin-bottom: 150px; }

  #missing-container-wrapper {
    height: 765px;
    margin-bottom: -10px; }

  #deliver_immersive {
    width: 400px;
    margin-top: 50px;
    margin-left: -50px; }

  #transforming_typical {
    margin-top: 70px;
    margin-left: 10px;
    margin-bottom: 30px; }

  #exciting_dynamic_fitness {
    margin-top: -100px;
    margin-left: -60px;
    padding-bottom: 100px; }

  #commercial-displays {
    margin-bottom: 30px;
    font-size: 34px;
    width: 1000px;
    margin-left: 5%; }

  .commercial-displays-text {
    width: 1000px;
    margin-left: 5%;
    font-size: 28px;
    line-height: 1.5; }

  .third-container {
    height: 1000px; }

  .third-container-wrapper {
    height: 980px; }

  #SystemOnChip_rotated {
    position: relative;
    right: 190px;
    transform: rotate(90deg);
    width: 200px; }

  #beginning-system-on-chip {
    position: relative;
    top: -40px;
    left: 100px;
    width: 400px; }

  #System_On_Chip_continued {
    position: relative;
    top: -135px;
    left: 370px;
    width: 400px; }

  #webOS {
    position: relative;
    top: 10px;
    margin-left: 20px;
    width: 400px; }

  #webOS8 {
    position: relative;
    top: -120px;
    left: 560px;
    width: 400px; }

  #webOS9 {
    position: relative;
    top: -10px;
    left: -150px;
    width: 400px; }

  .fourth-container {
    margin-top: 250px; }

  #man_running {
    width: 80%;
    margin-left: -8%;
    margin-bottom: 0; }

  #exercising-digital-signage {
    position: relative;
    top: -1500px;
    left: 530px;
    font-size: 32px;
    width: 400px; }

  #UHD_Commericial_TVs {
    position: relative;
    top: -1500px;
    left: 530px;
    width: 400px; }

  #UHD_Commericial_TVs-text {
    position: relative;
    top: -1500px;
    left: 640px; }

  #Large_Format_Digital {
    position: relative;
    top: -1500px;
    width: 400px;
    left: 620px; }

  #Large_Format_Digital-text {
    position: relative;
    top: -1500px;
    left: 490px;
    width: 470px; }

  #SuperSign-tvs {
    position: relative;
    top: -1300px;
    width: 400px;
    left: 150px; }

  #SuperSign-tvs-text {
    position: relative;
    top: -1425px;
    left: 500px;
    width: 500px; }

  #Videowalls {
    position: relative;
    top: -1300px;
    width: 400px;
    left: 150px; }

  #Videowalls-text {
    position: relative;
    top: -1415px;
    left: 500px;
    width: 500px; }

  .fifth-container {
    margin-top: -650px; }

  #man_lifting {
    width: 80%;
    margin-left: 30%; }

  #small-digital-signs {
    width: 400px;
    position: relative;
    top: -1040px;
    left: 150px; }

  .small-digital-signs-text {
    width: 400px;
    position: relative;
    top: -1050px;
    left: -100px;
    margin-top: 20px; }

  #direct-view {
    width: 400px;
    position: relative;
    top: -1000px;
    left: -80px; }

  .direct-view-text {
    width: 500px;
    position: relative;
    top: -1000px;
    right: 40px; }

  #girl_jumping {
    margin-left: 17%;
    width: 90%; }

  #transparent_LED {
    position: relative;
    top: -1850px;
    width: 400px;
    left: -130px; }

  .transparent_LED-text {
    font-size: 22px;
    position: relative;
    width: 470px;
    top: -1850px;
    left: -150px; }

  #cardio-equipement {
    position: relative;
    top: -1650px;
    left: -10px;
    width: 400px; }

  #touch-screen {
    position: relative;
    left: -190px;
    top: -1650px;
    font-size: 22px;
    width: 400px; }

  #ultra_stretch {
    width: 400px;
    position: relative;
    top: -1330px;
    left: -30px; }

  #ultra_stretch-text {
    position: relative;
    top: -1320px;
    left: 100px; }

  #game-changing-lg {
    font-size: 40px;
    padding-top: 20px;
    margin-left: 2%;
    width: 850px; }

  .game-changing-lg-text {
    font-size: 24px;
    margin-left: 2%;
    margin-top: 30px;
    width: 900px;
    margin-bottom: 0; }

  #two-percent {
    margin-top: 50px;
    font-size: 70px;
    margin-left: 28%; }

  #ten-percent {
    margin-top: 50px;
    font-size: 70px;
    margin-left: 28%; }

  .seventh-container {
    width: 78%;
    margin: -300px auto 100px; }

  #last-p {
    padding-bottom: 20px; }

  .missing-container {
    margin: 0 auto;
    position: relative;
    top: 100px;
    height: 100%; }

  .missing-container-wrapper {
    height: 700px; }

  .missing-container-text {
    font-size: 24px; }

  #deliver_immersive {
    position: relative;
    left: 500px;
    width: 500px; }

  #transforming_typical {
    position: relative;
    top: 130px;
    right: 250px;
    width: 500px; }

  #exciting_dynamic_fitness {
    position: relative;
    top: 100px;
    left: 500px;
    width: 500px;
    margin-bottom: 100px; }

  body {
    height: 6500px; } }

/*# sourceMappingURL=main.css.map */
